<ul class="nav nav-tabs" class="nav">
    <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
    <li role="presentation">@Html.ActionLink("Stylists", "Index", "Stylists")</li>
    <li role="presentation">@Html.ActionLink("New Stylist", "Create", "Stylists")</li>
    <li role="presentation">@Html.ActionLink("New Client", "Create", "Clients")</li>
  </ul>