@using HairSalon.Models

@foreach (Stylist stylist in Model)
{
  <p>@Html.ActionLink("@stylist.Name", "Details", new { id = stylist.StylistId})</p>
}


<p>@Html.ActionLink("Add a Stylist", "Create", "Stylists")</p>